<h1>情報追加依頼一覧</h1>


<div class="contacts_list">

  <% @contacts.each do |contact| %>
    <%= link_to contact_path(contact.id) do %>

      <div class="contact_chunk">
        <div class="contact_title">
          <%= contact.title %>
        </div>
        <div class="contact_content">
          <%= contact.content %>
        </div>
        <div class="contact_user">
          <%= link_to contact.user.name, user_path(contact.user.id), id: "show_btn" %>
          <%#= contact.user.name %>
        </div>
      </div>

    <% end %>
  <% end %>

</div>
