// Place all the styles related to the zoos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.grouping_table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
}
.grouping_table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.grouping_table td{
  text-align: left;
  width: 30%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}
